// Hugo-compatible imports
@import "normalize.scss";

@import "src/_vars.scss";
@import "src/_responsive.scss";
@import "src/base.scss";
@import "src/typography.scss";
@import "src/navigation.scss";
@import "src/table.scss";
@import "src/list.scss";

@import "src/misc.scss";
