<style>
  .footer {
    width: 100%;
    text-align: center;
  }
  .site-disclaimer {
    font-size: 0.8rem;
    line-height: 1.4;
    margin: 0 0 1rem;
    color: var(--color-quote-rgb);
  }

  .footer .container,
  .license {
    font-size: 1.2rem;
  }
</style>
<footer class="footer">
  <section class="container">
    <span class="autor">&copy; 2025 <b>Alfons Zelicko</b></span>

    <p class="site-disclaimer">
      This website is built in a way the internet was meant to be.
      <br />
      There are no trackers spying on you, no ads yelling at you,
      <br />
      no JavaScript circus just to display text.
    </p>
    <p class="site-disclaimer license">
      Source code: <a href="https://opensource.org/license/MIT" target="_blank">MIT</a>
    </p>
  </section>
</footer>
