.home {
  text-align: center;

  h1 {
    margin-bottom: 0;

    &::first-letter {
      color: inherit;
    }
  }

  p {
    font-family: "Special Elite", system-ui;
    font-size: 2.4rem;
    margin-top: 0;
    margin-bottom: 2rem;
    color: var(--color-quote-rgb);
  }

  h1, p {
    @extend %in-animation;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
    li {
      display: inline-block;
      position: relative;

      transition: opacity 0.2s ease,
      transform 0.2s ease;
      transition-delay: calc(300ms + (sibling-index() * 80ms));

      @starting-style {
        opacity: 0;
        transform: translateX(-10px);
      }

      a {
        margin: 0 0.6rem;
        transition: all 0.2s ease;
      }
    }
    li:first-child {
      a {
        position: relative;
        padding: .4rem 1.3rem;
        transition: all 0.3s ease;
        background-color: transparent;
        color: var(--color-link-rgb);
        border: 1px solid var(--color-link-rgb);

        animation: pulse 3s infinite;
        animation-delay: 1s;

        &:hover {
          background-color: var(--color-link-rgb);
          color: var(--color-bg-rgb);
          font-weight: bold;
          animation: none;
        }
        
        &:after {
          display: none;
        }
      }
    }
  }

  @include pulse(var(--color-link-rgb));

  @include max-md() {
    p {
      font-size: 1.2em;
    }

    li a {
      margin: 0 0.2rem;
    }
  }
}

