{{ define "content" }}
  {{ $style := index (resources.Match "**/error.scss") 0 }}
  {{ if $style }}
    {{ $compiled := $style | toCSS | minify }}
      <style>
        {{ $compiled.Content | safeCSS }}
      </style>
  {{ end }}


  <section class="container centered">
    <div class="error">
      <h1 title="404">404</h1>
      <h2 title="Page Not Found">Page Not Found</h2>
      <p class="msg" title="This page does not exist.">This page does not exist.</p>
      <p><a href="{{ .Site.BaseURL }}">⭠ Go to Homepage</a></p>
    </div>
  </section>
{{ end }}
