{{ define "content" }}
  {{ $responsive := resources.Get "styles/src/_responsive.scss" }}
  {{ $transitions := resources.Get "styles/src/transitions.scss" }}
  {{ $pageStyle := resources.Get "styles/pages/index.scss" }}

  {{ if and $responsive $transitions $pageStyle }}
    {{ $bundle := slice $responsive $transitions $pageStyle | resources.Concat "temp_main.scss" }}
    {{ $compiled := $bundle | toCSS | minify }}
      <style>
        {{ $compiled.Content | safeCSS }}
      </style>
  {{ end }}


  <section class="container centered">
    <div class="home">
      <h1>{{ .Site.Params.author }}</h1>
      <p>{{ .Site.Params.info }}</p>
      {{ with .Site.Params.social }}
        <ul>
          {{ range sort . }}
            <li><a href="{{ .url }}" target="{{ .target }}">{{ .name }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </section>
{{ end }}
