//
// Theme Palettes Definition
//

:root {
  // Low Contrast - Light
  --pal-bg-low-l: rgb(#{$color-bg-low-rgb});
  --pal-text-low-l: rgb(#{$color-text-low-rgb});
  --pal-heading-low-l: rgb(#{$color-heading-low-rgb});
  --pal-link-low-l: rgb(#{$color-link-low-rgb});
  --pal-link-act-low-l: rgb(#{$color-link-active-low-rgb});
  --pal-code-txt-low-l: rgb(#{$color-code-text-low-rgb});
  --pal-code-bg-low-l: rgb(#{$color-code-bg-low-rgb});
  --pal-quote-low-l: rgb(#{$color-quote-low-rgb});
  --pal-quote-vals-low-l: #{$color-quote-low-rgb};

  // Low Contrast - Dark (Default)
  --pal-bg-low-d: rgb(#{$color-bg-dark-low-rgb});
  --pal-text-low-d: rgb(#{$color-text-dark-low-rgb});
  --pal-heading-low-d: rgb(#{$color-heading-dark-low-rgb});
  --pal-link-low-d: rgb(#{$color-link-dark-low-rgb});
  --pal-link-act-low-d: rgb(#{$color-link-active-dark-low-rgb});
  --pal-code-txt-low-d: rgb(#{$color-code-text-dark-low-rgb});
  --pal-code-bg-low-d: rgb(#{$color-code-bg-dark-low-rgb});
  --pal-quote-low-d: rgb(#{$color-quote-dark-low-rgb});
  --pal-quote-vals-low-d: #{$color-quote-dark-low-rgb};

  // High Contrast - Light
  --pal-bg-high-l: rgb(#{$color-bg-high-rgb});
  --pal-text-high-l: rgb(#{$color-text-high-rgb});
  --pal-heading-high-l: rgb(#{$color-heading-high-rgb});
  --pal-link-high-l: rgb(#{$color-link-high-rgb});
  --pal-link-act-high-l: rgb(#{$color-link-active-high-rgb});
  --pal-code-txt-high-l: rgb(#{$color-code-text-high-rgb});
  --pal-code-bg-high-l: rgb(#{$color-code-bg-high-rgb});
  --pal-quote-high-l: rgb(#{$color-quote-high-rgb});
  --pal-quote-vals-high-l: #{$color-quote-high-rgb};

  // High Contrast - Dark
  --pal-bg-high-d: rgb(#{$color-bg-dark-high-rgb});
  --pal-text-high-d: rgb(#{$color-text-dark-high-rgb});
  --pal-heading-high-d: rgb(#{$color-heading-dark-high-rgb});
  --pal-link-high-d: rgb(#{$color-link-dark-high-rgb});
  --pal-link-act-high-d: rgb(#{$color-link-active-dark-high-rgb});
  --pal-code-txt-high-d: rgb(#{$color-code-text-dark-high-rgb});
  --pal-code-bg-high-d: rgb(#{$color-code-bg-dark-high-rgb});
  --pal-quote-high-d: rgb(#{$color-quote-dark-high-rgb});
  --pal-quote-vals-high-d: #{$color-quote-dark-high-rgb};
  
  --pal-error-universal: rgb(#{$color-error-universal-rgb});

}

//
// Applied Theme Logic
//

@mixin apply-palette($type) {
  --color-bg-rgb: var(--pal-bg-#{$type});
  --color-text-rgb: var(--pal-text-#{$type});
  --color-heading-rgb: var(--pal-heading-#{$type});
  --color-link-rgb: var(--pal-link-#{$type});
  --color-link-active-rgb: var(--pal-link-act-#{$type});
  --color-code-text-rgb: var(--pal-code-txt-#{$type});
  --color-code-bg-rgb: var(--pal-code-bg-#{$type});
  --color-quote-rgb: var(--pal-quote-#{$type});
  --color-border-rgb: var(--pal-quote-#{$type});
  --color-quote-rgb-values: var(--pal-quote-vals-#{$type});
  --color-error-rgb: var(--pal-error-universal);
}

:root {
  @include apply-palette('low-l');
}

html:has(#theme-toggle:checked) {
  @include apply-palette('low-d');
}

html:has(#contrast-toggle:checked) {
  @include apply-palette('high-l');
}

html:has(#contrast-toggle:checked):has(#theme-toggle:checked) {
  @include apply-palette('high-d');
}

//
// Rest of the Styles
//

*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scrollbar-gutter: stable;
}

body {
  padding-left: calc(100vw - 100%);
  display: flex;
  color: var(--color-text-rgb);
  background-color: var(--color-bg-rgb);
  font-family: "Noto Sans Mono", monospace;
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: 0.032em;
  line-height: 1.8em;

  @include max-md() {
    font-size: 1.4em;
    line-height: 1.6em;
  }
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: $container-max-width;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  
  padding-top: 60px;
}

.content {
  flex: 1;
  margin-top: 1.6rem;
  margin-bottom: 2.4rem;
}

.centered {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

@media print {
  @page { size: auto; margin: 0; }
  nav, footer { display: none !important; }
  html { font-size: 36%; padding: 32px; }
  .content { margin-top: -24px; }
}