// Variables and mixins are imported globally in style.scss

.list {
  .note-filter {
    width: 100%;
    text-align: center;
    a:not(.active) {
      color: var(--color-text-rgb)
    }
  }
  ul {
    list-style: none;
    margin: 4rem 0;
    padding: 0;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
      padding: 0.4rem 0;
      border-bottom: 1px solid color-mix(in srgb, var(--color-quote-rgb) 20%, transparent);
      &:first-child {
        border-top: 1px solid color-mix(in srgb, var(--color-quote-rgb) 20%, transparent);
      }

      span {
        display: block;
        width: 100%;
        max-width: 20rem;
        margin-left: 3rem;
        text-align: right;
        color: var(--color-quote-rgb);
        font-style: italic;
      }

      a {
        color: var(--color-text-rgb);
        line-height: 1.1;
      }
    }

    @include max-md() {
      li {
        flex-direction: column;
        align-items: flex-start;
        border-bottom: none;
        padding: 0.6rem 0;

        span {
          margin-left: 0;
          font-size: 1.2rem;
        }
      }
    }
  }
}
