// Variables and mixins are imported globally in style.scss

// Global link class for content (not just navigation)
.link {
  color: var(--color-link-rgb);
}

.block-experience {
  h4 {
    margin-bottom: 0.4rem;
  }
  p {
    margin-top: 0;
    margin-bottom: 0.8rem;
  }
  ul {
    margin-top: 0;
    margin-bottom: 2.4rem;
  }
}
