.container.page:has(.toc-container) {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  position: relative;

  @media (min-width: $container-max-width) {
    grid-template-columns: $blogpost-width minmax(0, 1fr);
    align-items: start;
    max-width: $container-max-width;
  }
}

article.note,
section.container.page > article {
  //max-width: $blogpost-width;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media (min-width: $container-max-width) {
    margin: 0;
    min-width: 0;
  }

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
}

article.note {
  .note-meta {
    margin: 1.8rem 0;
    p {
      margin: 0;
    }
  }

  .note-categories,
  .note-tags {
    a {
      color: var(--color-quote-rgb);
      font-weight: 100;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
  }
  
  img.note-image {
    width: 100%; 
    height: auto; 
    border-radius: 8px;
    box-shadow: 0 0 15px color-mix(var(--color-text-rgb), transparent 80%);
    
    @include low-d() {
      box-shadow: 0 0 15px transparent !important;
    }

    @include high-d() {
      box-shadow: 0 0 15px transparent !important;
    }
  }
}
