// Variables are imported globally in style.scss

table {
  border-collapse: collapse;
  border-top: 2px solid var(--color-quote-rgb);
  border-bottom: 2px solid var(--color-quote-rgb);
  width: 100%;

  td,
  th {
    text-align: left;
    border: 1px solid var(--color-quote-rgb);
    padding: 0.8rem 1rem;
    font-size: 1.6rem;
    line-height: 1.2;
  }
  th {
    background-color: var(--color-bg-rgb);
    /* "!important" is needed to override the `goldenmark` (md renderer) settings"*/
    text-align: center !important;
    border-bottom: 2px solid var(--color-quote-rgb);
  }

  tr {
    &:nth-child(2n-1) {
      background-color: oklch(from var(--color-bg-hover) l c h / 5%);
    }
    td:first-child,
    th:first-child {
      border-left: 0;
    }
    td:last-child,
    th:last-child {
      border-right: 0;
    }
  }
}
