:root {
  --ease-spring: linear(0, 0.009, 0.035 2.1%, 0.141 4.4%, 0.723 12.9%, 0.938 16.7%, 1.017, 1.077, 1.121, 1.149 24.3%, 1.159, 1.163, 1.161, 1.154 29.9%, 1.129 32.8%, 1.051 39.6%, 1.017 43.1%, 0.991, 0.977 51%, 0.974 53.8%, 0.975 57.1%, 0.997 69.8%, 1.003 76.9%, 1);
}
// Enable View Transitions for multi-page navigation
@view-transition {
  navigation: auto;
}

%in-animation {
  transition: opacity 0.5s ease,
  //filter 0.5s ease,
  transform 0.5s ease;//var(--ease-spring);
  transition-delay: calc((sibling-index()) * 50ms);

  @starting-style {
    opacity: 0;
    //filter: blur(2px);
    transform: translateY(-20px);
  }
}

/* 
  usage: @include pulse(var(--color-link-rgb));
  
  element:hover {
    animation: pulse .8s;
  }
*/
@mixin pulse($from-color) {
  @keyframes pulse {
    0%,
    50% {
      box-shadow: 0 0 0 0 oklch(from #{$from-color} l c h / 20%);
    }
    100% {
      box-shadow: 0 0 0 .7em oklch(from #{$from-color} l c h / 0%);
    }
  }
}

  .hover-pulse {
    animation: pulse .8s;
  }

// Some cool scroll animation :-)
/*p, h1, h2, h3, h4, h5, h6, blockquote, ul  {
  animation: fadeIn linear both;
  animation-timeline: view();
  animation-range: cover 0% cover 15%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(.8) translateY(10vh);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}*/

// Customize the animation
/*::view-transition-old(root) {
  animation: 0.25s ease-out both fade-out;
}

::view-transition-new(root) {
  animation: 0.25s ease-in both fade-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-8px);
  }
}*/
