// Enable View Transitions for multi-page navigation
@view-transition {
  navigation: auto;
}

%in-animation {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  transition-delay: calc((sibling-index()) * 50ms);

  @starting-style {
    opacity: 0;
    transform: translateY(-20px);
  }
}

// Some cool scroll animation :-)
/*p, h1, h2, h3, h4, h5, h6, blockquote, ul  {
  animation: fadeIn linear both;
  animation-timeline: view();
  animation-range: cover 0% cover 15%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(.8) translateY(10vh);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}*/

// Customize the animation
/*::view-transition-old(root) {
  animation: 0.25s ease-out both fade-out;
}

::view-transition-new(root) {
  animation: 0.25s ease-in both fade-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-8px);
  }
}*/
